@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding:0;
}
body {
	background-color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}
.content{
	color:rgb(0, 0, 0);
	transition: 1s;
	height: 100vh;
}

#side-bar {
	position: absolute;
	width: 230px;
	height: auto;
	background: #af151a;
	left: -300px;
	transition: 0.8s ease-out;
	z-index: 4;
}
.toggle-button {
	position: absolute;
	top: 5px;
	left: 310px;
	cursor: pointer;
	height: 50px;
	width: 50px;
}
.toggle-button span2{
	width: 60px;
	height: 10px;
	border-radius: 5px;
	background: #ffffff;
	display: block;
	margin-top: 4px;
	transition: 0.5s ease;
}
.toggle-button span3{
	width: 60px;
	height: 10px;
	border-radius: 5px;
	background: #ffffff;
	display: block;
	margin-top: 4px;
	transition: 0.5s ease;
}.toggle-button span4{
	width: 60px;
	height: 10px;
	border-radius: 5px;
	background: #ffffff;
	display: block;
	margin-top: 4px;
	transition: 0.5s ease;
}
li {
	color: #fdfdfd;
	list-style-type: none;
	font-size: 2.5rem;
	cursor: pointer;
	padding-left: 5px;
}
li:hover {
	background: #000000;
	color: #fcfcfb;
}

#side-bar.active {
	left: 0;
}
#side-bar.active .toggle-button {
	left: 235px;
}
#side-bar.active span2 {
	position: absolute;
}

#side-bar.active span2 {
	transform: rotate(45deg);
	top: 12px;
}
#side-bar.active span3 {
	opacity: 0;
	top: 12px;
}
#side-bar.active span4 {
	transform: rotate(-45deg);
	top: 12px;
}
#side-bar.active ~ .content {
	opacity: 0.6;
}

a {
	margin-left: 1rem;
	outline: none;
	text-decoration: none;
}
.centre {
	text-align: center;
}
.ki {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 55px;
	width: auto;
}
#m {
	position: left;
	width: 1400px;
	height: 55px;
	background: #c5181e;
	
}
span1 {
    font-family: FreeMono, monospace;
    text-decoration:underline;
    font-size: 50px;
    color: white;
    margin-left: 37.1rem; 
	margin-top: -0.4rem;
    float: right;
}
P {
	margin-left: 1rem;
}
h {
	margin-left: 1rem;
}
